{% extends 'base.html' %}

  <title>{% block title %}  Home page {% endblock %}</title>

{% block content %}

<div class="container">
  <div class="d-flex flex-column w-100 vh-100 align-content-center justify-content-center text-center">
  <table class="table border ">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Added date</th>
    <th>Due date</th>
    <th>Status</th>
  </tr>
 {% for i in todo %}
 <tr>
  <td>{{i.title}}</td>
  <td>{{i.content}}</td>
  <td>{{i.added_date}}</td>
  <td>{{i.due_date}}</td>
  <td>{{i.status}}</td>
 </tr>

 {% endfor %}
</table>
</div>
</div>





{% endblock %}