{% extends 'index.html' %}
{% block content %}


<div class="d-flex flex-column vw-100 vh-100 align-items-center justify-content-center">
  <div class="d-flex justify-content-center shadow border p-3 w-50 align-items-center">
    <form action="" method="post">
      {% csrf_token %}
      <h1 class="p-3"> User Register</h1>
      <div>
        <label for="" class="form-label">Username:</label>
        {{form.username}}
      </div>
      <div>
        <label for="" class="form-label">Password:</label>
        {{form.password}}
      </div>
      <div>
        <label for="" class="form-label">Email:</label>
        {{form.email}}
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center p-2">
        <input type="submit" class="btn btn-info">
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center p-2">
        <p>Existing user?<a href="{% url 'userloginview' %}">Login</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock %}